<div ng-include="'views/menubar.html'"></div>
<br/>

<div  class="container-fluid data">
	<table class="table table-responsive">
		<thead>
				<td class="clm1 col-sm-1">Id</td>
				<td class="col-sm-2">EmployeeId</td>
				<td class="col-sm-2">UserName</td>
				<td class="col-sm-2">EmployeeName</td>
				<td class="col-sm-1">DesignationId</td>
				<td class="col-sm-2">Experience</td>
				<td class="col-sm-2">Salary</td>
		</thead>
		<tbody>
			<tr>
				<td class="clm1 col-sm-1">{{data.id}}</td>
				<td class="col-sm-2">{{data.empId}}</td>
				<td class="col-sm-2">{{data.username}}</td>
				<td class="col-sm-2">{{data.empName}}</td>
				<td class="col-sm-1">{{data.designationId}}</td>
				<td class="col-sm-2">{{data.experience}}</td>
				<td class="col-sm-2">{{data.salary}}</td>
			</tr>
		</tbody>
	</table>
</div>




	
			


