<nav class="navbar1 navbar-default">
	<div class="container-fluid">
		<ul class="nav navbar-nav">
			<li class="tag2"><a href="#/home">Home</a></li>
			<li class="tag2"><a href="#/project">Project</a></li>
			<li class="tag2"><a href="#/services">Services</a></li>
			<li class="tag2"><a href="#/contactus">Contact us</a></li>
			<li class="tag2"><a href="#/images">images</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="tag2"><a>Welcome {{empName}}</a></li>
			<li class="tag2"><a href="#/logout">Logout</a></li>
		</ul>
	</div>
</nav>