<div ng-include="'views/menubar.html'"></div>
<div class="bs-3">
    <ul class="breadcrumb">
        <li><span class="glyphicon glyphicon-home"></span>&nbsp;<a href="#/home">Home</a></li>
        <li class="active">Services</li>
    </ul>
</div>

<div class = "contact">
	<h4>Service List :</h4>
	<ul>
		<li ng-repeat = "item in data" ng-show = "item.id == 1 || item.id == 2 || item.id == 3 || item.id == 4"> 
		<p>{{item.content_type}}</p>
		<p>&nbsp;&nbsp;&nbsp;{{item.data}}</p>
		</li>
	</ul>
</div>